@import "./variables";
@import "./navigation";
@import "./slider";
@import "./main";

body {
	font-family: $font_family;
	font-size: 15px;
	margin: 0px;
}
.thin {
	font-family: $font_notokr_thin !important;
}
.light {
	font-family: $font_notokr_light !important;
}
.medium {
	font-family: $font_notokr_medium !important;
}
.bold {
	font-family: $font_notokr_bold !important;
}
.bolder {
	font-family: $font_notokr_black !important;
}
#app {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: $font_base_color;
}
.mb20 {
	margin: 20px;
}
.content {
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: -2;
}
.main-content {
	position: absolute;
	margin-top: 0px;
	transform: translateY(0%);
}
@media (max-width: 486px) {
	.content {
		margin-top: 54px;
	}
	.main-content {
		position: absolute;
		margin-top: 0px;
		transform: translateY(0%);
	}
}
