.login-content {
    position: relative;
    width: 40%;
    margin-left: 30%;
	margin-top: 10%;
	min-height: 600px;

	ul {
		list-style-type: none;
		padding: 0;
		margin-bottom: 20px;
		li {
			display: inline-block;
			font-size: 0.9rem;
			&:after {
				padding-left: 5px;
				content: "|";
			}
			&:last-child {
				&:after {
					content: "";
				}
			}
		}
	}
}

.login-title {
	@extend .bolder;
	font-size: 2rem;
	letter-spacing: 5px;
	margin-bottom: 2rem;
}

.sns-logo {
	width: 40px;
	border-right: 1px solid $color_white;
	margin-right: 10px;
	text-align: center;
	vertical-align: middle;
}

.btn-login {
	height: 50px;
	background-color: $color_black;
	border: 0px;
	color: $color_white;
	@extend .bolder;
	font-size: 1rem;
}

.btn-sns-login {
	padding-left:0px !important;
	text-align: left !important;
	width:100% !important;
	border: 0px !important;
	color: #fff !important;
	margin-bottom: 5px !important;
	@extend .medium;
}

.btn-facebook {
	background-color:#405896 !important;
}

.btn-google {
	background-color:#dd4c40 !important;
}

.btn-naver {
	background-color:#1dc800 !important;
}

.btn-kakao {
	@extend .bold;
	background-color:#f8d100 !important;
	color: #000 !important;
}

@media (max-width: 486px) {
	.login-content {
		width: 90%;
		margin-left: 5%;
	}
}