.login-title {
	@extend .bolder;
	font-size: 30px;
	letter-spacing: 5px;
	margin-bottom: 2rem;
}

.sns-logo {
	width: 40px;
	border-right: 1px solid $color_white;
	margin-right: 10px;
	text-align: center;
	vertical-align: middle;
}

.btn-login {
	height: 50px;
	background-color: $color_black;
	border: 0px;
	color: $color_white;
	@extend .bolder;
	letter-spacing: 1px;
    font-size: 18px;
}

.btn-sns-login {
	padding-left:0px !important;
	text-align: left !important;
	width:100% !important;
	height: inherit !important;
	border: 0px !important;
	color: $color_white !important;
	margin-bottom: 5px !important;
}

.btn-font {
	@extend .medium;
	font-size: 12px !important;
}

.btn-facebook {
	background-color: $color_logo_facebook !important;
}

.btn-google {
	background-color: $color_logo_google !important;
}

.btn-naver {
	background-color: $color_logo_naver !important;
}

.btn-kakao {
	font-family: $font_notokr_bold !important;
	font-size: 12px !important;
	background-color: $color_logo_kakao !important;
	color: $color_black !important;
}

@media (max-width: 486px) {
}