.login-content {
    position: relative;
    width: 40%;
    margin-left: 30%;
	margin-top: 10%;

	ul {
		list-style-type: none;
		padding: 0;
		width: 100%;
		li {
			font-size: 14px;
			-webkit-box-flex: 1;
			-ms-flex: 1;
			flex: 1;
			float: left;
			width: 33%;
			margin-bottom: 25px;
			display: inline-block;
			border-right: 1px solid $color_light_gray;
			&:last-child {
				border-right: 0;
			}
		}
	}
}

.login-title {
	@extend .bolder;
	font-size: 30px;
	letter-spacing: 5px;
	margin-bottom: 2rem;
}

.sns-logo {
	width: 40px;
	border-right: 1px solid $color_white;
	margin-right: 10px;
	text-align: center;
	vertical-align: middle;
}

.btn-login {
	height: 50px;
	background-color: $color_black;
	border: 0px;
	color: $color_white;
	@extend .bolder;
	letter-spacing: 1px;
    font-size: 18px;
}

.btn-sns-login {
	padding-left:0px !important;
	text-align: left !important;
	width:100% !important;
	height: inherit !important;
	border: 0px !important;
	color: $color_white !important;
	margin-bottom: 5px !important;
	font-size: 1rem !important;
	@extend .medium;
}

.btn-facebook {
	background-color: $color_logo_facebook !important;
}

.btn-google {
	background-color: $color_logo_google !important;
}

.btn-naver {
	background-color: $color_logo_naver !important;
}

.btn-kakao {
	@extend .bold;
	background-color: $color_logo_kakao !important;
	color: $color_black !important;
}

@media (max-width: 486px) {
	.login-content {
		width: 90%;
		margin-left: 5%;
	}
}