div[role="about"] {
	.about-image {
		visibility: visible;
		width: 100%;
		height: 60rem;
		background-size: cover;
		background-position: 50% 50%;
	}
	.about-title {
		@extend .medium;
		font-size: 3rem;
		z-index: 0;
		line-height: 2;
	}
	.about-detail {
		position: relative;
		font-size: 1.2rem;
		word-break: break-all;
		word-wrap: break-word;
		letter-spacing: -0.5px;
	}
	.about-content {
		position: absolute;
		z-index: 10;
		color: $color_white;
		font-weight: 400;
		vertical-align: middle;
		top: 45%;
		left: 50%;
		width: 80%;
		transform: translate(-50%, -50%);
		text-transform: uppercase;
	}
}

div[role="process"] {
	margin: 13rem 0 13rem 0;
	.step-title {
		font-family: $eng_title_font !important;
		font-size: 30px;
		margin-top: 2rem;
		margin-bottom: 3rem;
		letter-spacing: 2px;
	}
	.step-head {
		@extend .bold;
		font-size: 1.2rem;
		line-height: 2;
	}
	.step-description {
		font-size: 0.9rem;
	}
	.step-content {
		.step-box {
			display: inline-block;
			position: relative;
			width: 33%;
			height: 100%;
			min-height: 1px;
			margin-bottom: 2rem;
		}
		.step-image {
			width: 10rem;
			border-radius: 100%;
		}
	}
}

@media (max-width: 486px) {
	div[role="about"] {
		.about-image {
			height: 42rem !important;
		}
		.about-image-right {
			background-position: 58% 50%;
		}
		.about-title {
			font-size: 1.8rem;
			z-index: 0;
		}
		.about-detail {
			position: relative;
			font-size: 0.9rem;
    		letter-spacing: -1.2px;
			text-align: left;
			word-break: break-all;
			word-wrap: break-word;
		}
	}

	div[role="process"] {
		margin: 5rem 0 5rem 0;
		.step-title {
			font-size: 25px;
			margin-top: 2rem;
			margin-bottom: 2rem;
		}
		.step-description {
			font-size: 0.8rem;
		}
		.step-content {
			.step-box {
				display: inline-block;
				min-width: 12rem;
				width: 100%;
			}
			.step-image {
				width: 6.2rem;
				border-radius: 100%;
			}
		}
	}
}
