div[role="about"] {
	.about-image {
		visibility: visible;
		width: 100%;
		background-color: $color_opacity_brown;
    	background-blend-mode: darken;
		background-size: cover;
		background-position: 50% 50%;
		transition: 0.3s ease;
	}
	.about-title {
		@extend .bold;
		font-size: 2rem;
		z-index: 0;
		line-height: 1.2;
		letter-spacing: -2px;
	}
	.about-detail {
		position: relative;
		font-size: 1.2rem;
		word-break: break-all;
		word-wrap: break-word;
		letter-spacing: -0.5px;
	}
	.about-content {
		position: relative;
		z-index: 10;
		text-align: left;
		color: $color_white;
		font-weight: 400;
		vertical-align: middle;
		top: 45%;
		left: 50%;
		width: 80%;
		transform: translate(-50%, -50%);
		text-transform: uppercase;
	}
}

div[role="process"] {
	margin: 13rem 0 13rem 0;
	.step-title {
		font-family: $eng_title_font !important;
		font-size: 30px;
		margin-top: 2rem;
		margin-bottom: 3rem;
		letter-spacing: 2px;
	}
	.step-head {
		@extend .bold;
		font-size: 1.2rem;
		line-height: 2;
	}
	.step-description {
		font-size: 0.9rem;
	}
	.step-content {
		.step-box {
			display: inline-block;
			position: relative;
			width: 33%;
			height: 100%;
			min-height: 1px;
			margin-bottom: 2rem;
		}
		.step-image {
			width: 10rem;
			border-radius: 100%;
		}
	}
}

@media (max-width: 486px) {
	div[role="about"] {
		.about-image-right {
			background-position: 58% 50%;
		}
		.about-title {
			font-size: 1.8rem;
			z-index: 0;
		}
		.about-detail {
			position: relative;
			font-size: 0.9rem;
    		letter-spacing: -1.2px;
			text-align: left;
			word-break: break-all;
			word-wrap: break-word;
		}
	}

	div[role="process"] {
		margin: 5rem 0 5rem 0;
		.step-title {
			font-size: 25px;
			margin-top: 2rem;
			margin-bottom: 2rem;
		}
		.step-description {
			font-size: 0.8rem;
		}
		.step-content {
			.step-box {
				display: inline-block;
				min-width: 12rem;
				width: 100%;
			}
			.step-image {
				width: 6.2rem;
				border-radius: 100%;
			}
		}
	}
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	div[role="about"] {
		.about-image {
			height: 30rem !important;
		}
	}
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
	div[role="about"] {
		.about-image {
			height: 40rem;
		}
	}
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
	div[role="about"] {
		.about-image {
			height: 30rem;
		}
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	div[role="about"] {
		.about-image {
			height: 30rem !important;
		}
	}
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	div[role="about"] {
		.about-image {
			height: 30rem !important;
		}
	}
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	div[role="about"] {
		.about-image {
			height: 30rem !important;
		}
	}
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
	div[role="about"] {
		.about-image {
			height: 30rem !important;
		}
	}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
	div[role="about"] {
		.about-image {
			height: 30rem !important;
		}
	}
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
	div[role="about"] {
		.about-image {
			height: 50rem !important;
		}
	}
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
	div[role="about"] {
		.about-image {
			height: 30rem !important;
		}
	}
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
	div[role="about"] {
		.about-image {
			height: 30rem !important;
		}
	}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
	div[role="about"] {
		.about-image {
			height: 52rem !important;
		}
	}
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
	div[role="about"] {
		.about-image {
			height: 30rem !important;
		}
	}
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
	div[role="about"] {
		.about-image {
			height: 45rem !important;
		}
	}
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
	div[role="about"] {
		.about-image {
			height: 30rem !important;
		}
	}
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
	div[role="about"] {
		.about-image {
			height: 45rem !important;
		}
	}
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
	div[role="about"] {
		.about-image {
			height: 30rem !important;
		}
	}
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
	div[role="about"] {
		.about-image {
			height: 45rem !important;
		}
	}
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
	div[role="about"] {
		.about-image {
			height: 30rem !important;
		}
	}
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
	div[role="about"] {
		.about-image {
			height: 45rem !important;
		}
	}
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
	div[role="about"] {
		.about-image {
			height: 30rem !important;
		}
	}
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
	div[role="about"] {
		.about-image {
			height: 45rem !important;
		}
	}
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
	div[role="about"] {
		.about-image {
			height: 30rem !important;
		}
	}
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
	div[role="about"] {
		.about-image {
			height: 45rem !important;
		}
	}
}