.nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	z-index: 999999;
	@extend .medium;
	transition: 0.3s ease;
	ul.web-menu {
		position: relative;
		text-align: right;
		display: block;
		li {
			display: inline-block;
			position: relative;
			padding-right: 14px;
			&:after {
				content: "|";
				font-weight: 100 !important;
				font-size: 10px;
				position: absolute;
				transform: translate(7px, 15%);
			}
			&:last-child {
				&:after {
					content: "";
				}
			}
		}
	}
	ul.mobile-menu {
		display: none;
	}
}
.logo {
	float: left;
	margin-top: 15px;
	margin-left: 20px;
	font-size: 20px;
	font-family: $logo_font !important;
}
.nav-color {
	background-color: $color_white !important;
	color: $font_base_color !important;
}
.main-nav {
	color: $color_white;
}
.sub-menu {
	font-size: 14px;
	position: fixed;
	top: 0;
	right: 0;
	width: 0px;
	height: 100%;
	background: $color_black;
	transition: 0.2s;
	@extend .bold;
	ul {
		list-style-type: none;
		line-height: 3.5;
		padding-left: 0px;
		margin-top: 5rem;
		color: $color_white;
		font-size: 18px;
	}
}
.sub-menu-active {
	background-color: $color_ultra_violet;
	color: $color_white;
	padding: 0 10px 0 10px;
	margin: 0 -10px 0 -10px;
	border-radius: 10px;
	svg {
		color: $color_white;
	}
}
.menu-area-active {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,.7);
}
.close {
	cursor: pointer;
	padding-left: 80%;
}
@media (max-width: 486px) {
	.nav {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 50px;
		z-index: 9998;
		ul.mobile-menu {
			li {
				display: inline-block;
				position: relative;
				text-align: center;
				padding: 5px;
				border-radius: 8px;
				cursor: pointer;
			}
			display: block;
			margin-top: 10px;
		}
		ul.web-menu {
			display: none;
		}
	}
	.logo {
		position: absolute;
		top: 0px;
		left: 10px;
		margin-left: 0px;
	}
	.nav-color {
		background-color: $color_black !important;
		color: $color_white !important;
	}
	.more {
		position: absolute;
		top: 0;
		right: 10px;
	}
}
