.image-area {
	position: relative;
	overflow: hidden;
	button {
		-webkit-appearance: none;
		background: transparent;
		border: 0;
		outline: 0;
	}
}
.image-description {
	position: absolute;
	z-index: 10;
	color: $color_white;
	font-weight: 400;
	vertical-align: middle;
	top: 50%;
	left: 40%;
	transform: translate(-50%, -50%);
	text-transform: uppercase;
}
.sub-image-title {
    font-size: 1rem;
    text-align: left;
	line-height: 2.5;
	font-weight: 700;
	font-family: $about_title !important;
	span {
		border-bottom: 1.2px solid $color_white;
	}
}
.main-image-title {
	@extend .bold;
	font-size: 2rem;
	text-align: left;
	line-height: 1;
	letter-spacing: -2px;
}
.button-router {
	@extend .medium;
	border: solid 3px $color_white !important;
	margin-top: 2rem;
	padding: 2px;
	color: $color_white;
	font-size: 1rem;
	width: 40%;
	cursor: pointer;
}
.prev-next-area {
	position: absolute;
	width: 100%;
	height: 100%;
}
.arrow {
	cursor: pointer;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	svg {
		width: 30px;
		height: 60px;
		opacity: 0.8;
	}
}
.arrow-disable {
	svg {
		width: 30px;
		height: 60px;
		opacity: 0.2;
	}
}
.arrow-prev {
	left: 20px;
}
.arrow-next {
	right: 20px;
}
.image-cover {
	position: relative;
	width: 100%;
	height: auto;
	z-index: -3;
}
.main-image {
	visibility: visible;
	width: 100%;
	height: 25rem;
	background-color: $color_opacity_brown;
	background-blend-mode: darken;
	background-size: cover;
	background-position: 50% 50%;
	transition: 0.3s ease;
	z-index: -3;
}
.image-wrapper {
	width: 100%;
	position: relative;
	overflow: hidden;
}
.image-listbox {
	display: flex;
	-ms-flex-direction: row;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
	backface-visibility: hidden;
	transition: transform 0.5s ease, -webkit-transform 0.5s ease;
	-ms-flex-preferred-size: 147.5px;
	flex-basis: 147.5px;
}
.image-slide {
	-ms-flex-preferred-size: inherit;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-touch-callout: none;
	outline: none;
	width: 100%;
}
.image-dot-navigation {
	ul {
		position: absolute;
		top: 98%;
		left: 50%;
		padding: 0;
		margin: 0;
		transform: translate(-50%, -100%);
		li {
			display: inline-block;
			position: relative;
			padding-right: 10px;
		}
	}
}
.button-dot {
	display: inline-block;
	margin: 5px 4px;
	padding: 5px;
	border: 1px solid rgba(255, 255, 255, 0.6) !important;
	background: rgba(255, 255, 255, 0.3) !important;
	border-radius: 100%;
	overflow: hidden;
	text-indent: -9999em;
	cursor: pointer;
}
.button-dot-active {
	background: $color_white !important;
}
@media (max-width: 486px) {
	.image-description {
		left: 50%;
	}
	.main-image {
		height: 15rem;
		background-position: 40% 50%;
	}
	.arrow {
		svg {
			width: 20px;
			height: 40px;
			opacity: 0.6;
			polyline {
				stroke-width: 4;
			}
		}
	}
	.arrow-disable {
		svg {
			opacity: 0.2;
		}
	}
	.arrow-prev {
		left: 10px;
	}
	.arrow-next {
		right: 10px;
	}
	.button-dot {
		padding: 4px;
	}
	.sub-image-title {
		font-size: 12px;
		text-align: left;
		line-height: 2.2;
	}
	.main-image-title {
		font-size: 1.3rem;
		text-align: left;
		width: 20rem;
		line-height: 1;
	}
	.button-router {
		border: solid 2px $color_white !important;
		margin-top: 1rem;
		padding: 2px;
		font-size: 0.8rem;
		letter-spacing: -1px;
	}
}
