input {
    box-sizing:border-box;
    -moz-box-sizing: border-box;
}

input, textarea, select, button {
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
}

button {
    height: 40px;
	background-color: $color_light_gray;
	border: 0px;
	color: $color_black;
}