input {
    box-sizing:border-box;
    -moz-box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 0;
    appearance: none;
    background-color: #f5f5f5;
    border: 1px solid #f5f5f5;
    @extend .medium;
    font-size: 1rem;
    color: $font_base_color;
}

// placeholder start
::-webkit-input-placeholder { /* 크롬 4–56 */
    color: #afafaf;
}
:-moz-placeholder { /* 파이어폭스 4–18 */
   color: #afafaf;
   opacity:  1;
}
::-moz-placeholder { /* 파이어폭스 19–50 */
   color: #afafaf;
   opacity:  1;
}
:-ms-input-placeholder { /* 인터넷 익스플로러 10+ */
   color:  #afafaf;
}
::placeholder { /* 파이어폭스 51+, 크롬 57+ */
   color: #afafaf;
   opacity:  1;
}
// placeholder end

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #afafaf;
}

input, textarea, select, button {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

button {
    height: 40px;
	background-color: $color_light_gray;
	border: 0px;
	color: $color_black;
}