// variables.scss

$color_suny_red: #D60036;
$color_dark_gray: #494949;
$color_warm_gray: #75746f;
$color_smoke_gray: #DDDDDB;

$font_base_color: #333333;
$font_family: 'notokr-regular', 'Noto Sans KR', sans-serif, 'Malgun Gothic';
$font_notokr_thin: 'notokr-thin';
$font_notokr_light: 'notokr-light';
$font_notokr_medium: 'notokr-medium';
$font_notokr_bold: 'notokr-bold';
$font_notokr_black: 'notokr-black';

$color_white: #ffffff;
$color_black: #000000;
$color_row_black: #1d1d1d;
$color_light_gray: #e0e0e0;
$color_point_yellow: #fbc22b;
$color_point_pink: #f11486;
$color_point_violet: #a067ac;
$color_point_blue: #47a3d2;
$color_point_green: #8ce33e;
$color_ultra_violet: #5e4a8a;

$color_opacity_white: #ffffff75;
$color_opacity_brown: #674f3b75;
$color_opacity_cover: #0000004a;

$color_logo_facebook: #405896;
$color_logo_google: #dd4c40;
$color_logo_naver: #1dc800;
$color_logo_kakao: #f8d100;

@import url('https://fonts.googleapis.com/css?family=Aclonica|Freckle+Face');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Kalam:700');
$logo_font: 'Aclonica', sans-serif;
$eng_title_font: 'Kalam', cursive;
$about_title: 'Roboto Condensed', sans-serif;

@font-face {
    font-family: 'notokr-thin';
    src: url('/static/fonts/NotoKR-Thin/notokr-thin.eot');
    src: url('/static/fonts/NotoKR-Thin/notokr-thin.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/NotoKR-Thin/notokr-thin.woff2') format('woff2'),
         url('/static/fonts/NotoKR-Thin/notokr-thin.woff') format('woff'),
         url('/static/fonts/NotoKR-Thin/notokr-thin.ttf') format('truetype'),
         url('/static/fonts/NotoKR-Thin/notokr-thin.svg#notokr-thin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'notokr-light';
    src: url('/static/fonts/NotoKR-Light/notokr-light.eot');
    src: url('/static/fonts/NotoKR-Light/notokr-light.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/NotoKR-Light/notokr-light.woff2') format('woff2'),
         url('/static/fonts/NotoKR-Light/notokr-light.woff') format('woff'),
         url('/static/fonts/NotoKR-Light/notokr-light.ttf') format('truetype'),
         url('/static/fonts/NotoKR-Light/notokr-light.svg#notokr-light') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'notokr-regular';
    src: url('/static/fonts/NotoKR-Regular/notokr-regular.eot');
    src: url('/static/fonts/NotoKR-Regular/notokr-regular.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/NotoKR-Regular/notokr-regular.woff2') format('woff2'),
         url('/static/fonts/NotoKR-Regular/notokr-regular.woff') format('woff'),
         url('/static/fonts/NotoKR-Regular/notokr-regular.ttf') format('truetype'),
         url('/static/fonts/NotoKR-Regular/notokr-regular.svg#notokr-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'notokr-medium';
    src: url('/static/fonts/NotoKR-Medium/notokr-medium.eot');
    src: url('/static/fonts/NotoKR-Medium/notokr-medium.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/NotoKR-Medium/notokr-medium.woff2') format('woff2'),
         url('/static/fonts/NotoKR-Medium/notokr-medium.woff') format('woff'),
         url('/static/fonts/NotoKR-Medium/notokr-medium.ttf') format('truetype'),
         url('/static/fonts/NotoKR-Medium/notokr-medium.svg#notokr-medium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'notokr-bold';
    src: url('/static/fonts/NotoKR-Bold/notokr-bold.eot');
    src: url('/static/fonts/NotoKR-Bold/notokr-bold.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/NotoKR-Bold/notokr-bold.woff2') format('woff2'),
         url('/static/fonts/NotoKR-Bold/notokr-bold.woff') format('woff'),
         url('/static/fonts/NotoKR-Bold/notokr-bold.ttf') format('truetype'),
         url('/static/fonts/NotoKR-Bold/notokr-bold.svg#notokr-bold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'notokr-black';
    src: url('/static/fonts/NotoKR-Black/notokr-black.eot');
    src: url('/static/fonts/NotoKR-Black/notokr-black.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/NotoKR-Black/notokr-black.woff2') format('woff2'),
         url('/static/fonts/NotoKR-Black/notokr-black.woff') format('woff'),
         url('/static/fonts/NotoKR-Black/notokr-black.ttf') format('truetype'),
         url('/static/fonts/NotoKR-Black/notokr-black.svg#notokr-black') format('svg');
    font-weight: normal;
    font-style: normal;

}